@model CybProjWeb.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}
<div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update Password</h4>
            <form method="post" asp-action="ChangePassword" class="mt-4">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input type="password" class="form-control" id="placeholder"
                           placeholder="Current Password" asp-for="CurrentPassword" required>
                    <span asp-validation-for="CurrentPassword"></span>
                </div><br />
                <div class="form-group">
                    <input type="password" class="form-control" id="placeholder"
                           placeholder="New Password" asp-for="NewPassword" required>
                    <span asp-validation-for="NewPassword"></span>
                </div><br />
                <div class="form-group">
                    <input type="password" class="form-control" id="placeholder"
                           placeholder="Current Password" asp-for="ConfirmPassword" required>
                    <span asp-validation-for="ConfirmPassword"></span>
                </div><br />
                <button type="submit" class="btn btn-rounded btn-outline-success">Submit</button>
                <a href="Cancel" type="button" class="btn btn-rounded btn-outline-danger">Cancel</a>

            </form>

        </div>
    </div>
</div>